{% extends 'base.html' %}

{% block extrahead %}
{% load static %}
<script src="{% static 'js/validacionFormulario.js' %}"></script>
<style>
    #imagen{
        width: 100%;

        height: 100%;

        object-fit: cover;
        /* float: left; */
    }
</style>
{% endblock %}
{% block title %}Crear Producto{% endblock %}
{% block content %}

<div class="row">

    <div class="col-md-5 offset-md-1">
        <form method="POST" >{% csrf_token %}

           {{form.as_p}}

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Aceptar" />
            </div>

        </form>
    </div>
</div>


</div>
{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}

<div class="alert alert-danger">
    <strong>{{field.name }}: {{ error|escape }}</strong>
</div>

{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}

<div class="alert alert-danger">
    <strong>{{field.name }}: {{ error|escape }}</strong>
</div>

{% endfor %}
{% endif %}



{% endblock %}