{% extends 'base.html' %}

{% block extrahead %}
{% load static %}
<script src="{% static 'js/validacionFormulario.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<style>
    .imagen {
        background-image: url("{% static 'images/burger.jpg' %}");
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-repeat: no-repeat;
        height: 92VH;
        background-size: cover;
        /* background-repeat: no-repeat; */
    }
</style>
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
<!-- <img src="{% static 'images/login2.jpg' %}" class="rounded float-right"  id = "imagen"> -->
<div class="imagen">
    <div class="row">

        <div class="col-md-4 offset-md-4">
            <div class="card">
                <form method="POST" id="padear">{% csrf_token %}

                    <div class="form-group" id="margen">
                        <h5>Usuario</h5>

                        <input class="form-control" type="text" name="username">
                    </div>


                    <div class="form-group" id="margen">
                        <h5>Contraseña</h5>

                        <input class="form-control" type="password" name="password">
                    </div>


                    <div class="form-group" id="boton">
                        <input type="submit" class="btn btn-primary" value="Aceptar" />
                    </div>

                </form>
                <div id="padear2">
                    <p>¿No tienes cuenta? <a href="{% url 'usuario:signup' %}">Registrate</a></p>
                    
                </div>
            </div>
        </div>


    </div>


{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
{% if error != "This field is required." %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}

<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}


{% endblock %}

</div>